<div class="background"></div>
<div class="header">Timer App</div>

<div class="switch-container">
  <button class="switch" [class.active]="showTimer" (click)="toggleView('timer')">Timer</button>
  <button class="switch" [class.active]="showStopwatch" (click)="toggleView('stopwatch')">Stopwatch</button>
  <button class="switch" [class.active]="isTabataVisible" (click)="toggleView('tabata')">Tabata</button>
</div>

<div class="section" *ngIf="showTimer" class="active">
  <app-timer></app-timer>
</div>

<div class="section" *ngIf="showStopwatch" class="active">
  <app-stopwatch></app-stopwatch>
</div>

<div class="section" *ngIf="isTabataVisible" class="active">
  <app-tabata></app-tabata>
</div>
