<!-- app.component.html -->
<div class="background"></div>
<div class="header">Таймер та Секундомір</div>

<!-- Місце для таймера і секундоміра -->
<app-timer *ngIf="showTimer"></app-timer>
<app-stopwatch *ngIf="!showTimer"></app-stopwatch>

<!-- Перемикач між таймером та секундоміром -->
<div class="switch-container">
    <div class="switch" [class.active]="showTimer" (click)="toggleView(true)">Timer</div>
    <div class="switch" [class.active]="!showTimer" (click)="toggleView(false)">Stopwatch</div>
</div>
